PORT=3001
NODE_ENV=development
# NODE_ENV=production
API_PREFIX=/api/v1

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=hiki123
DB_NAME=se_database
DB_SSL=false

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

BCRYPT_SALT_ROUNDS=10
JWT_ACCESS_SECRET=your_jwt_access_secret_key
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key
JWT_ACCESS_EXPIRES_IN=86400 # 1 ngày
JWT_REFRESH_EXPIRES_IN=604800 # 7 ngày 

ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=12345678
ADMIN_FIRST_NAME=Admin
ADMIN_LAST_NAME=User